
.mr-carousel{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.mr-carousel:hover .mr-carousel-btn-before{
	opacity: 0.4;
}

.mr-carousel:hover .mr-carousel-btn-after{
	opacity: 0.4;
}

.mr-carousel-btn-before{
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 50%;
	background: grey;
	color: #fff;
	z-index: 30;
	transform: translateY(-50%);
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	opacity: 0;
	transition: all 1s;
	cursor: pointer;
	    font-size: x-small;
}

.mr-carousel-btn-before:hover{
	opacity: 0.7 !important;
}

.mr-carousel-btn-after:hover{
	opacity: 0.7 !important;
}

.mr-carousel-btn-after{
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	right: 10px;
	color: #fff;
	top: 50%;
	background: grey;
	z-index: 30;
	transform: translateY(-50%);
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	opacity: 0;
	transition: all 1s;
	cursor: pointer;
	    font-size: x-small;
}

.mr-carousel-item{
	width: 50%;
	height: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	transition: all .5s;
	z-index: -1;
	background: #fff;
}

.mr-carousel-item-before{
	left: 20%;
	width: 40%;
	height: 60%;
	display: block;
	z-index: 0;
}

.mr-carousel-item-after{
	left: 80%;
	width: 40%;
	height: 60%;
	display: block;
	z-index: 0;
}

.mr-carousel-item-center{
	display: block;
	z-index: 20;
	width: 100%;
	height: 100%;
	left: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}