
.mr-carousel{
	width: 50%;
	height: 70%;
	position: relative;
	overflow: hidden;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.mr-carousel:hover .mr-carousel-btn-before{
	background: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.2);
}

.mr-carousel:hover .mr-carousel-btn-after{
	background: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.2);
}

.mr-carousel-btn-before{
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 50%;
	color: rgba(255, 255, 255, 0);
	z-index: 30;
	transform: translateY(-50%);
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	transition: all 1s;
	cursor: pointer;
	    font-size: x-small;
}

.mr-carousel-btn-before:hover{
	background: rgba(255, 255, 255, 0.4) !important;
	color: rgba(255, 255, 255, 1) !important;
}

.mr-carousel-btn-after:hover{
	background: rgba(255, 255, 255, 0.4) !important;
	color: rgba(255, 255, 255, 1) !important;
}

.mr-carousel-btn-after{
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 30;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0);
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	transition: all 1s;
	cursor: pointer;
	    font-size: x-small;
}

.mr-carousel-item{
	width: 50%;
	height: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	transition: all .5s;
	z-index: -1;
	background: #fff;
}

.mr-carousel-item-before{
	left: 20%;
	width: 40%;
	height: 60%;
	display: block;
	z-index: 0;
}

.mr-carousel-item-after{
	left: 80%;
	width: 40%;
	height: 60%;
	display: block;
	z-index: 0;
}

.mr-carousel-item-center{
	display: block;
	z-index: 20;
	width: 70%;
	height: 80%;
	left: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}