html, body {
    padding: 0;
    margin: 0;
    width:  100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

.login {
    width: 100px;
    height: 100px;
    background: grey;
    display: none;
}

header {
    height: 60px;
    width: 100%;
}

.logo {
    width: 50px;
    height: 50px;
}