

@import "../../share/style/global.less";

.setting{
    height: 100%;
    width: 300px;
    position: fixed;
    right: 0;
    top: -30px;
    padding-top: 30px;
    overflow: auto;

    h4{
        margin-top: 1px;
        cursor: pointer;
        height: 50px;
        background: #ffffff38;
        line-height: 50px;
        padding-left: 10px;
        &:hover{
            background: #ffffff7a;
        }
    }
}

.show{
    display: block;
}

.hide{
    display: none;
}

.setting-title{
    text-align: left;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    padding-left: 10px;
    font-weight: bold;
}