

@main-color: #b3ade9;
@second-color: #bdd9fc;
@third-color: #d5c9f9;
@fourth-color: #b0fefb;

.setting{
    background: @main-color;
    height: 100%;
    width: 200px;
    position: fixed;
    right: 0;
    top: -30px;
    padding-top: 30px;
}