

.todo-filter{
        height: 40px;
}

.todo-filter a{
    margin-left: 5px;
}

.filter{
    text-decoration: none;
    color: blue;
}

.filter.not-selected{
    
}

.filter.selected{
    color: grey;
    cursor: default;
}