

.dialog{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 200px;
    top: 200px;

    .dialog-header{
        height: 30px;
        line-height: 30px;
        padding-left: 5px;
        font-weight: bold;
    }

    .dialog-content{
        width: 100%;
        height: calc(~"100% - 30px");
    }
}