

@main-color: #b3ade9;
@second-color: #bdd9fc;
@third-color: #d5c9f9;
@fourth-color: #b0fefb;

.footer{
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: @third-color;
    color: #fff;
}