

@main-color: #b3ade9;
@second-color: #bdd9fc;
@third-color: #d5c9f9;
@fourth-color: #b0fefb;

.footer{
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: @main-color;
    color: #fff;

    .left{
        height: 100%;
        display: flex;
        width: 50%;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        float: left;
    }

    .right{
        height: 100%;
        display: flex;
        width: 50%;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        float: left;

        .show{
            display: block;
        }

        .hide{
            display: none;
        }
    }
}